

.component__price {
  font-family: 'DINAlternate-Bold';
  .small-text {
    font-size: 24rpx;
  }

  // 优惠券价格样式
  &.coupon-price {

    font-size: 60rpx;
    color: $color-brand;

    .small-text {
      font-size: 30rpx;
    }
  }
}
