.reputation {
  padding: 20rpx 30rpx;
  background: $color-white;

  .reputation__info {
    display: flex;
    .avatar-block {
      margin-right: 50rpx;
      .avatar {
        width: 100rpx;
        height: 100rpx;
        border-radius: 50%;
      }
    }

    .rate-block {
      height: 100rpx;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;

      .str {
        color: $color-brand;
        margin-left: 10rpx;
        background: $color-brand;
        padding: 6rpx 20rpx;
        border-radius: 10rpx;
        color: $color-white;
        font-size: 22rpx;
        margin-right: 20rpx;
      }
    }

    .date {
      font-size: 26rpx;
      color: $text-color-gray;
      width: 160rpx;
    }
  }

  .reputation__remark {
    margin-left: 150rpx;
    padding: 0 20rpx 0 10rpx;
    color: $text-color-gray;
  }
}
