{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"]
  },
  "parser": "babel-eslint"
}
