.product-list {
    padding: 20rpx 30rpx;
    background: $color-white;
    .product {
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 20rpx;

      &:last-child {
        margin-bottom: 0;
      }

      .product-image {
        width: 120rpx;
        height: 120rpx;
        margin-right: 20rpx;
      }
      .product-info {
        font-size: 28rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .property {
          color: $text-color-gray;
          font-size: 20rpx;
          margin-bottom: 10rpx;
        }
      }

      .count {
        position: absolute;
        right: 20rpx;
        bottom: 20rpx;
        font-size: 24rpx;
      }
    }
  }
