
// 选配弹窗
.sku-wrapper {
  height: 730rpx;
}
.select-content {
  height: 600rpx;
}
.layout-body {
  padding: 0 !important;
}

.select_product-info {
  display: flex;
  padding: 30rpx;
  .product-image {
    width: 120rpx;
    height: 120rpx;
    margin-right: 40rpx;
  }

  .price {
    color: $text-color-red;
    font-size: 40rpx;
    margin-right: 30rpx;
    font-weight: bolder;
  }
}

.properties {
  padding-bottom: 40rpx;
  margin: 0 40rpx;
  border-bottom: 1rpx solid $border-color;
  color: $color-black;
  .propertie-name {
    padding: 10rpx 0;
  }
  .attributes {
    display: flex;
    flex-wrap: wrap;
    .attribute {
      margin-right: 40rpx;
      margin-bottom: 10rpx;
    }

    .attribute-button {
      &.primary {
        color: $color-white;
        background: $color-brand;
        border: 1rpx solid $color-brand;
      }
      &.secondary {
        border: 1rpx solid $color-brand;
        color: $color-brand;
      }
    }
  }
}

// 数量
.amount {
  display: flex;
  justify-content: space-between;
  padding: 40rpx;
  color: $color-black;
  font-size: 30rpx;
}


.reserve-attribute-button {
  position: relative;
  text-align: center;
  padding: 10rpx 0;
  width: 160rpx;
  height: 70rpx;

  &.disabled {
    opacity: .4;
  }

  &.checked {
    background: $color-brand;
    color: $color-white;
    font-size: 20rpx;
    opacity: 1;
  }

  &.active {
    background: rgba($color-brand, .4);
  }

  .reserve-time-tip {
    font-size: 16rpx;
  }

  .reserve-price {
    position: absolute;
    z-index: 2;
    right: -20rpx;
    top: 12rpx;
    font-size: 16rpx;
    color: $text-color-gray;
    border-bottom: 1rpx solid $border-color;
  }
}

.propertie {
  position: relative;
  .cancel-reservetime {
    position: absolute;
    right: 0;
    top: 10rpx;
    color: $color-brand;
  }
}

.reserve-tip {
  font-size: 26px;
  color: $color-brand;
}
