.bottom-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100rpx;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: $color-white;

  .place-order {
    margin-left: 40rpx;
    width: 270rpx;
    height: 100%;
    background: $color-brand;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
