.container {
  background: $color-gray;
  min-height: 100vh;
  padding-bottom: 26rpx;

}

// taro ui tab 组件样式覆盖
.at-tabs__item-underline.at-tabs__item-underline {
  background: $tag-color !important;
}

.at-tabs__item.at-tabs__item.at-tabs__item--active {
  color: $tag-color !important;
}
