page {
  background: $color-gray;
}

.index {
  position: relative;

  .go-home {
    position: absolute;
    z-index: 2;
    left: 20rpx;
    top: 0;
    color: $color-white;
    display: flex;
    align-items: center;
    opacity: .8;
  }

  .swiper {
    height: 628rpx;
  }
  .swiper-item {

    .swiper-item_image {
      width: 100%;
      height: 100%;
    }
  }

  .indicator-dots {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 470rpx;
    .indicator-dot {
      width: 20rpx;
      height: 20rpx;
      border-radius: 50%;
      background: $color-white;
      margin-right: 20rpx;
      &:last-of-type {
        margin-right: 0;
      }

      &.active {
        opacity: .4;
      }
    }
  }

  .recommend-products {
    background: $color-white;
    width: 630rpx;
    min-height: 400rpx;
    margin: 0 auto;
    box-shadow: 0 2rpx 20rpx rgba(0, 0, 0, .1);
    padding: 32rpx 30rpx 10rpx;
    border-radius: 10rpx;
    position: relative;
    margin-top: -120rpx;
    font-family: 'PingFangSC-Semibold';

    .title {
      font-size: 36rpx;
      position: relative;
      padding-bottom: 32rpx;
      border-bottom: 1rpx solid $border-color;
    }

    .product-image {
      width: 570rpx;
      height: 427rpx;
    }

    .name {
      margin-top: 20rpx;
    }

    .name,
    .component__price ,
    .characteristic {
      line-height: 48rpx;
      font-size: 32rpx;
      text-align: center;
    }

    .component__price  {
      margin-top: 10rpx;
      margin-bottom: 30rpx;
      font-family: 'DINCond-Black';
    }

    .small-text {
      font-size: 24rpx;
      font-weight: bolder;
    }

    .video-wrapper {
      position: relative;
      padding-bottom: 20rpx;
      width: 100%;
      height: 100%;

      video {
        width: 570rpx;
        height: 426rpx;
      }
      .mask {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26rpx;
        color: $color-white;

        .play-button {
          position: absolute;
          z-index: 1;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 55px;
          height: 55px;
          background: rgba(0, 0, 0, .6);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid $color-white;
          &::before {
              position: relative;
              left: 14px;
              content: '';
              display: block;
              width: 0;
              height: 0;
              border: 14px solid $color-white;
              border-width: 14px 20px;
              border-color: transparent transparent transparent $color-white;
          }
      }
      }
    }
  }

  .all-products {
    margin-top: 40rpx;
    padding-bottom: 40rpx;

    .title {
      margin-bottom: 30rpx;
      margin-left: 90rpx;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      background: $color-white;
      padding: 20rpx 60rpx 40rpx;
      font-family: 'PingFangSC-Regular';

      .item {
        width: 305rpx;
        margin-right: 20rpx;
        margin-top: 20rpx;

        &:nth-of-type(2n) {
          margin-right: 0;
        }
      }

      .product-image {
        width: 305rpx;
        height: 228rpx;
      }

      .name,
      .characteristic {
        line-height: 36rpx;
        font-size: 24rpx;
      }

      .price-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10rpx;
        .price {
          font-size: 32rpx;
          line-height: 42rpx;
          font-family: 'PingFangSC-Semibold';
          color: $text-color-red;
        }

        .small-text {
          font-size: 20rpx;
        }
        .sold-amount {
          color: $text-color-gray;
          font-size: 20rpx;
        }
      }
    }
  }
}
