page {
  background: $color-gray;
}
.container {
  min-height: 100vh;
  padding-bottom: 130rpx;

  .no-data {
    margin-top: 150rpx;
    color: $text-color-gray;
    font-size: 32rpx;
    text-align: center;
  }

  .bottom-bar-wrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 100rpx;
    background: $color-white;
    border-top: 1rpx solid $border-color;
  }

  .bottom-bar {
    padding: 0 30rpx;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 26rpx;
    line-height: 1;

    .button {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 10;
      height: 100%;
      width: 260rpx;
      background: $color-brand;
      border-radius: 0;
      font-size: 28rpx;
      line-height: 100rpx;
      color: $color-white;
    }
    .checkbox-wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .check-all-text {
      margin: 0 20rpx;
    }

    .price {
      color: $text-color-red;
    }
    .small-text {
      font-size: 20rpx;
    }
  }
}
