page {
  background: $color-gray;
  min-height: 100vh;
}
.no-data {
  margin-top: 150rpx;
  color: $text-color-gray;
  font-size: 28rpx;
  text-align: center;
}
.all-products {
  padding-bottom: 40rpx;

  .title {
    margin-bottom: 30rpx;
    margin-left: 90rpx;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    background: $color-white;
    padding: 20rpx 60rpx 40rpx;
    font-family: 'PingFangSC-Regular';

    .item {
      width: 305rpx;
      margin-right: 20rpx;
      margin-top: 20rpx;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    .product-image {
      width: 305rpx;
      height: 228rpx;
    }

    .name,
    .characteristic {
      line-height: 36rpx;
      font-size: 24rpx;
    }

    .price-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10rpx;
      .price {
        font-size: 32rpx;
        line-height: 42rpx;
        font-family: 'PingFangSC-Semibold';
        color: $text-color-red;
      }

      .small-text {
        font-size: 20rpx;
      }
      .sold-amount {
        color: $text-color-gray;
        font-size: 20rpx;
      }
    }
  }
}
