.container {
  min-height: 100vh;
  background: $color-gray;
  padding-bottom: 160rpx;

  .remark {
    margin-top: 26rpx;
    border: none !important;
    padding: 20rpx 40rpx;
    textarea {
      font-size: 28rpx !important;
    }
  }

  .price-info,
  .product-list {
    margin-top: 26rpx;
  }

  .bottom-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    font-size: 26rpx;
    line-height: 1;

    .button {
      z-index: 10;
      height: 100%;
      width: 260rpx;
      background: $tag-color;
      border-radius: 0;
      font-size: 28rpx;
      line-height: 100rpx;
      color: $color-white;
      margin-left: 20rpx;
    }
    .checkbox-wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .price {
      color: $text-color-red;
    }
    .small-text {
      font-size: 20rpx;
    }
  }

  .coupons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-white;
    height: 60rpx;
    padding: 40rpx 30rpx;
    margin-top: 26rpx;
    font-size: 28rpx;
    .gray {
      color: $text-color-gray;
    }
    .red {
      color: $text-color-red;
    }
    .selected {
      color: $tag-color;
    }
    .right {
      display: flex;
      align-items: center;
    }
    .arrow-right {
      width: 16rpx;
      height: 28rpx;
      display: block;
      margin-left: 20rpx;
    }
  }

  .coupon-list-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: $color-gray;
    z-index: 99;
    .unuse-coupon {
      text-align: center;
      color: $tag-color;
      text-decoration: underline;
      padding: 30rpx 0;
    }
  }
}
