.container {
  min-height: 100vh;
  background: $color-gray;

  .remark {
    margin-top: 20rpx;
    border: none !important;
    padding: 20rpx 40rpx;
    textarea {
      font-size: 28rpx !important;
    }
  }
}
