.product-list {
  margin-top: 20rpx;
  background: $color-white;
  padding: 20rpx 40rpx;
  .product-item {
    display: flex;
    position: relative;
    .product-image {
      width: 120rpx;
      margin-right: 20rpx;
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .name {
        font-size: 28rpx;
      }

      .characteristic {
        font-size: 24rpx;
        color: $text-color-gray;
      }

      .price {
        color: $text-color-red;
      }
    }
    .amount {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
