page {
  min-height: 100vh;
  background: $color-gray;
  padding-bottom: 120rpx;
}
.container {
  .order-status {
    height: 120rpx;
    padding: 0 40rpx;
    display: flex;
    align-items: center;
    background: $color-brand;
    color: $color-white;
    font-size: 28rpx;

    .refund {
      font-size: 24rpx;
      color: $tag-color;
      margin-left: 15rpx;
    }
  }
  .product-list {
    margin-top: 26rpx;
  }

  .order-info {
    padding: 30rpx;
    background: $color-white;
    font-size: 26rpx;
    margin-top: 26rpx;
    .content {
      margin-bottom: 20rpx;
      display: flex;
    }

    .value {
      font-size: 24rpx;
      margin-left: 10rpx;
      width: 500rpx;
      color: $text-color-gray;
    }
  }

  .price-info {
    margin-top: 26rpx;
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40rpx;
    height: 100%;
    button {
      margin-right: 15rpx;

      &:last-of-type {
        margin-right: 0;
      }
    }
    .button {
      background: $tag-color;
      color: $color-white;
    }

    .button-secondary {
      border: 2rpx solid $tag-color;
      color: $tag-color;
    }
  }

}
