.check-box {
  border: 2rpx solid $tag-color;
  border-radius: 50%;
  width: 40rpx;
  height: 40rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  &.checked {
    // background: $color-brand-dark;
    background: $tag-color;
  }
  text {
    display: block;
  }
}
