// 商品信息
.product-detail__product-info {
  width: 100%;
  background: $color-white;
  padding: 20rpx 30rpx;

  .price-wrapper {
    display: flex;
    align-items: baseline;
  }
  .component__price {
    color: $text-color-red;
    font-size: 40rpx;
    margin-right: 30rpx;
    font-weight: bolder;
  }

  .base {
    display: flex;
    justify-content: space-between;

    .info {
      display: flex;
      flex-direction: column;
    }
    .name {
      font-size: 32rpx;
    }

    .characteristic {
      color: $text-color-gray;
      font-size: 24rpx;
    }

    .share {
      font-size: 24rpx;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      color: #5d5d5d;
      &::before {
        position: absolute;
        left: -30rpx;
        content: '';
        display: block;
        width: 0;
        height: 60%;
        border-left: 2rpx dotted $border-color;
      }
    }
  }

  .other {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24rpx;
    margin-top: 20rpx;
    color: rgba(0, 0, 0, .7);
    font-weight: 200;
  }

  .original-price {
    text-decoration: line-through;
  }

}
