.container {
  .userinfo {
    height: 300rpx;
    width: 100%;
    padding: 20rpx 50rpx;
    // border-bottom: 10rpx;
    border-radius: 0 0 20rpx 20rpx;
    color: #fff;
    font-size: 28rpx;
  }
  .avatar {
    display: flex;
    align-items: center;
  }
  .nickname {
    margin-left: 40rpx;
  }
}
