@import "~taro-ui/dist/style/index.scss";
@import "./assets/font/font.scss";

view,
scroll-view,
button {
  box-sizing: border-box;
}

// 两行截取、单行截取
.clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    word-break: break-all;
}

.clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-color-red {
  color: $text-color-red;
}



// 主题相关
// taro ui tab 组件样式覆盖
.at-tabs__item-underline.at-tabs__item-underline {
  background: $color-brand !important;
}

.at-tabs__item.at-tabs__item.at-tabs__item--active {
  color: $color-brand !important;
}

.at-input-number,
.at-input-number__input {
  border-color: $color-brand-light !important;
}

// 标签主题前面的线
.title-line {
  position: relative;
  font-size: 36rpx;
  line-height: 54rpx;
  padding-left: 26rpx;
  font-family: 'PingFangSC-Semibold';

  &::before {
    position: absolute;
    content: "";
    width: 6rpx;
    height: 40rpx;
    background: $color-brand;
    left: 0;
    top: 7rpx;
  }
}

// 多行文本
.remark {
  margin-top: 26rpx;
  border: none !important;
  padding: 20rpx 40rpx;
  textarea {
    font-size: 28rpx !important;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
  line-height: 1;
  outline: none;
  &::after {
    border: none;
  }
}

