
// @import "./variables.scss";
/* Custom Theme */
$color-brand: #612a6e !default;
$color-brand-light: #895f92 !default;
$color-brand-dark: #4e2258 !default;

@import "~taro-ui/dist/style/index.scss";

