.container {
  min-height: 100vh;
  background: $color-gray;
  padding-top: 40rpx;

  .form {
    background: $color-white;
  }

  .buttons {
    padding: 40rpx;

    .button {
      margin-top: 20rpx;

      &.wx {
        background: #07c160 !important;
        border-color: #07c160 !important;
      }
    }
  }

  .address-picker {
    display: flex;
    padding: 24rpx 0;
    position: relative;
    margin-left: 32rpx;
    .label {
      width: 172rpx;
      margin-right: 16rpx;
    }
    .picker {
      margin-right: 20rpx;
      &.gray {
        color: #77797b;
      }
    }
    &::after {
      content: '';
      position: absolute;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      pointer-events: none;
      top: -50%;
      left: -50%;
      right: -50%;
      bottom: -50%;
      border: 0 solid #d6e4ef;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      border-bottom-width: 1rpx;
    }
  }
  .region-indexes {
    background: #fff;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 90vw;

    .region-indexes_title {
      padding: 20rpx;
      text-align: center;
    }
  }
}

